In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('/content/cars.csv');

In [7]:
df.head();

In [8]:
df['owner'].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

In [10]:
df['fuel'].value_counts() # act like group by

df['fuel'].nunique() # how many unique value we get

4

OneHotEncoding using **Pandas**

In [11]:
pd.get_dummies(df,columns=['fuel','owner'])

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

we can see that total 9 column are there -> multi-linearity

In [14]:
df_encoded = pd.get_dummies(df,columns=['fuel','owner'],drop_first=True);

print(df_encoded)

        brand  km_driven  selling_price  fuel_Diesel  fuel_LPG  fuel_Petrol  \
0      Maruti     145500         450000         True     False        False
1       Skoda     120000         370000         True     False        False
2       Honda     140000         158000        False     False         True
3     Hyundai     127000         225000         True     False        False
4      Maruti     120000         130000        False     False         True
...       ...        ...            ...          ...       ...          ...
8123  Hyundai     110000         320000        False     False         True
8124  Hyundai     119000         135000         True     False        False
8125   Maruti     120000         382000         True     False        False
8126     Tata      25000         290000         True     False        False
8127     Tata      25000         290000         True     False        False

      owner_Fourth & Above Owner  owner_Second Owner  owner_Test Drive Car  \
0                          False               False                 False
1                          False                True                 False
2                          False               False                 False
3                          False               False                 False
4                          False               False                 False
...                          ...                 ...                   ...
8123                       False               False                 False
8124                        True               False                 False
8125                       False               False                 False
8126                       False               False                 False
8127                       False               False                 False

      owner_Third Owner
0                 False
1                 False
2                  True
3                 False
4                 False
...                 ...
8123              False
8124              False
8125              False
8126              False
8127              False

[8128 rows x 10 columns]

OneHotEncoding using Sklearn

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [16]:
X_train.head()

         brand  km_driven    fuel         owner
5571   Hyundai      35000  Diesel   First Owner
2038      Jeep      60000  Diesel   First Owner
2957   Hyundai      25000  Petrol   First Owner
7618  Mahindra     130000  Diesel  Second Owner
6684   Hyundai     155000  Diesel   First Owner

In [25]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first',dtype=np.int32)

ohe.fit(X_train[['fuel','owner']])

X_train_tranform = ohe.transform(X_train[['fuel','owner']])

X_train_tranform.shape

(6502, 7)

OneHotEncoding with Top Categories

In [28]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first',dtype=np.int32)

ohe.fit(X_train[['brand']])

X_train_tranform = ohe.transform(X_train[['brand']])

X_train_tranform.shape

print(X_train_tranform)

<Compressed Sparse Row sparse matrix of dtype 'int32'
	with 6498 stored elements and shape (6502, 30)>
  Coords	Values
  (0, 9)	1
  (1, 12)	1
  (2, 9)	1
  (3, 17)	1
  (4, 9)	1
  (5, 24)	1
  (6, 26)	1
  (7, 18)	1
  (8, 9)	1
  (9, 8)	1
  (10, 18)	1
  (11, 7)	1
  (12, 9)	1
  (13, 17)	1
  (14, 9)	1
  (15, 21)	1
  (16, 28)	1
  (17, 9)	1
  (18, 26)	1
  (19, 18)	1
  (20, 9)	1
  (21, 17)	1
  (22, 27)	1
  (23, 9)	1
  (24, 17)	1
  :	:
  (6477, 17)	1
  (6478, 9)	1
  (6479, 17)	1
  (6480, 9)	1
  (6481, 24)	1
  (6482, 7)	1
  (6483, 26)	1
  (6484, 7)	1
  (6485, 9)	1
  (6486, 17)	1
  (6487, 18)	1
  (6488, 27)	1
  (6489, 18)	1
  (6490, 27)	1
  (6491, 7)	1
  (6492, 26)	1
  (6493, 21)	1
  (6494, 26)	1
  (6495, 9)	1
  (6496, 17)	1
  (6497, 7)	1
  (6498, 18)	1
  (6499, 26)	1
  (6500, 18)	1
  (6501, 10)	1

In [31]:
counts = df['brand'].value_counts()

print(counts)

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [32]:
df['brand'].nunique()

32

In [33]:
threshold = 100

repl = counts[counts <= threshold].index

In [34]:
pd.get_dummies(df['brand'].replace(repl, 'uncommon')).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
871,False,False,False,False,False,False,False,False,False,False,True,False,False
4350,False,False,False,False,False,False,True,False,False,False,False,False,False
6440,False,False,False,False,False,True,False,False,False,False,False,False,False
5101,False,False,False,False,False,False,False,False,False,False,False,False,True
3411,False,False,False,False,False,False,False,False,False,True,False,False,False